

<div class="row banner">
    <img class="image-bg" src="../../../assets/banner2.jpg" alt="">
    <div class="col-12 col-lg-2 col-md-2 d-flex justify-content-center align-items-center" tabindex="1">

    </div>
    <div class="col-12 col-lg-4 col-md-4 d-flex justify-content-center align-items-center zindex-1">
        <div class="row headerContent">
            <div class="col-12"> 
                <h4 class="hello">Hello, my name is  <span class="textprimary">Kinfe Tadesse</span> </h4>
            </div>
            <div class="col-12"> 
                <h1 class="intr mt-2 mb-2">I'm a <span class="textprimary">Full-Stack</span>  Developer</h1>
            </div>
            <div class="col-12"> 
                <p class="intdesc">Over 4 years of experience in front-end and backend development, specializing in <span class="textprimary">Angular</span> , Ionic and <span class="textprimary">Springboot</span> .</p>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-outline-primary downloadBtn mt-2 mb-2">Download CV</button>
            </div>

             <div class="col-12 mt-3">
                <ul class="list-unstyled list-inline">
                <li class="list-inline-item mx-2">
                    <a href="#" class="btn btn-outline-primary rounded-circle social">
                    <i class="bi bi-linkedin"></i></a>
                </li>
                <li class="list-inline-item mx-2">
                    <a href="#" class="btn btn-outline-secondary rounded-circle social">
                        <i class="bi bi-telegram"></i>
                    </a>
                </li>
                <li class="list-inline-item mx-2">
                    <a href="#" class="btn btn-outline-secondary rounded-circle social">
                        <i class="bi bi-whatsapp"></i>
                    </a>
                </li>
                </ul>
            </div>
        </div>
       
    </div>
    <div class="col-12 col-lg-6 col-md-6 d-flex justify-content-center align-items-center zindex-1">
        
        <img class="personalIMg"  src="../../../assets/myimg.png" alt="">

    </div>
</div>