<div class="row banner">
    <img class="image-bg" src="../../../assets/banner2.jpg" alt="">
    <div class="col-12 col-lg-2 col-md-2 d-flex justify-content-center align-items-center" tabindex="1">

    </div>
    <div class="col-12 col-lg-4 col-md-4 d-flex justify-content-center align-items-center zindex-1">
        <div class="row headerContent">
            <div class="col-12"> 
                <h4 class="hello">Hello, my name is  <span class="textprimary">Kinfe Tadesse</span> </h4>
            </div>
            <div class="col-12"> 
                <h1 class="intr mt-2 mb-2">I'm a <span class="textprimary">Full-Stack</span>  Developer</h1>
            </div>
            <div class="col-12"> 
                <p class="intdesc">Over 4 years of experience in front-end and backend development, specializing in <span class="textprimary">Angular</span> , Ionic and <span class="textprimary">Springboot</span> .</p>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-outline-primary downloadBtn mt-2 mb-2">Download CV</button>
            </div>

             <div class="col-12 mt-3">
                <ul class="list-unstyled list-inline">
                <li class="list-inline-item mx-2">
                    <a href="#" class="btn btn-outline-primary rounded-circle social">
                    <i class="bi bi-linkedin"></i></a>
                </li>
                <li class="list-inline-item mx-2">
                    <a href="#" class="btn btn-outline-secondary rounded-circle social">
                        <i class="bi bi-telegram"></i>
                    </a>
                </li>
                <li class="list-inline-item mx-2">
                    <a href="#" class="btn btn-outline-secondary rounded-circle social">
                        <i class="bi bi-whatsapp"></i>
                    </a>
                </li>
                </ul>
            </div>
        </div>
       
    </div>
    <div class="col-12 col-lg-6 col-md-6 d-flex justify-content-center align-items-center zindex-1">
        
        <img class="personalIMg"  src="../../../assets/myimg.png" alt="">

    </div>
</div>
<div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="container rounded">
        <div class="slider">
          <div class="logos">
            <img class="bi" src="../../../assets/tslogo.png" alt="">
            <img class="bi" src="../../../assets/jslogo.png" alt="">
            <img class="bi" src="../../../assets/springboot.png" alt="">
            <img class="bi" src="../../../assets/angular-logo-1.png" alt="">
            <img class="bi" src="../../../assets/ionic.png" alt="">
            <img class="bi" src="../../../assets/spring logo.svg.png" alt="">
          
          </div>
          <div class="logos">
            <img class="bi" src="../../../assets/tslogo.png" alt="">
            <img class="bi" src="../../../assets/jslogo.png" alt="">
            <img class="bi" src="../../../assets/springboot.png" alt="">
            <img class="bi" src="../../../assets/angular-logo-1.png" alt="">
            <img class="bi" src="../../../assets/ionic.png" alt="">
            <img class="bi" src="../../../assets/spring logo.svg.png" alt="">
          </div>
        </div>
      </div>
    </div>
  
  </div>

  <div class="row specCont justify-content-center mt-5 mb-4">
    <div class="col-11"> 
        <h1 class="specialities text-center">Specialities</h1>
    </div>
    <div class="col-11 col-lg-5"> 
        <p class="text-center w-100 mb-3" style="color: #5f5f5f;">Expertise in crafting robust web solutions, seamlessly navigating both frontend and backend technologies to deliver high-performing applications.</p>
    </div>
  </div>

  <div class="row justify-content-center" style="margin-bottom: 10rem; margin-top: 3rem;">
    <div class="col-11 col-md-3 mb-4 mx-2">
      <div class="card h-100 specialityCard">
        <div class="card-body">
          <i class="bi bi-code-slash fs-2 mb-3"></i> <!-- Replace with your preferred icon -->
          <h5 class="card-title">Front-End Development</h5>
          <p class="card-text">Crafting engaging user interfaces with Angular and leveraging cutting-edge frontend technologies.</p>
        </div>
      </div>
    </div>
    <div class="col-11 col-md-3 mb-4 mx-2">
      <div class="card h-100 specialityCard">
        <div class="card-body">
          <i class="bi bi-server fs-2 mb-3"></i> <!-- Replace with your preferred icon -->
          <h5 class="card-title">Back-End Development</h5>
          <p class="card-text">Implementing robust backend systems using Java Spring Boot to ensure scalable and efficient applications.</p>
        </div>
      </div>
    </div>
    <div class="col-11 col-md-3 mb-4 mx-2">
      <div class="card h-100 specialityCard">
        <div class="card-body">
          <i class="bi bi-laptop fs-2 mb-3"></i> <!-- Replace with your preferred icon -->
          <h5 class="card-title">Full-Stack Expertise</h5>
          <p class="card-text">Seamlessly integrating frontend and backend technologies to create cohesive and dynamic full-stack solutions.</p>
        </div>
      </div>
    </div>
  </div>
  
  
  